{% extends 'layouts/base.html' %}
{% load i18n %}

{% block content %}

<div class="container py-4">

    <div class="row justify-content-center">

        <div class="col-12 col-md-8 col-lg-6">

            <div class="card">

                <img
                    src="{{ clothing_item.image.url }}"
                    class="card-img-top"
                    alt="{{ clothing_item.name }}"
                >

                <div class="card-body">

                    <h1 class="card-title">
                        {{ clothing_item.name }}
                    </h1>

                    {% if clothing_item.description %}
                        <p class="card-text">
                            {{ clothing_item.description }}
                        </p>
                    {% endif %}

                    <div class="d-flex gap-2 mt-4">

                        <a
                            href="{% url 'clothing_item_update' clothing_item.pk %}"
                            class="btn btn-primary"
                        >
                            {% translate "Edit" %}
                        </a>

                        <a
                            href="{% url 'clothing_item_delete' clothing_item.pk %}"
                            class="btn btn-outline-danger"
                        >
                            {% translate "Delete" %}
                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}